[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = "*"
opencv-python = "==3.3.0.9"
opencv-contrib-python = "*"
boto3 = "*"
flask = "*"

[requires]
python_version = "3.6"

[dev-packages]
